<app-header></app-header>
<section>
    <div class="container" id="container-profil">
        <div class="list-profiles-container">
            <div class="list-profiles">
                <h1 class="profileText">Who's watching?</h1>
                <ul class="chooseProfile" >
                    <li class="Profile" *ngFor=" let profil of Profils">
                        <div>
                            <a routerLink="/browse"  class="profile-link">
                                <diV class="avatar-compte">
                                    <img class="img-fluid" src="{{profil.image}}">
                                </diV>
                                <span >{{profil.nom | titlecase }}</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <span class="profile-button">
                <a routerLink="/ManageProfiles" class="profile-btn">Manage Profiles</a>
            </span>
        </div>
    </div>
</section>