<app-header></app-header>
<section>
    <div class="container" id="container-profil">
        <div class="list-profiles-container">
            <div class="list-profiles">
                <h1 class="profileText">Who's watching?</h1>
                <ul class="chooseProfile">
                    <li class="Profile">
                        <div>
                            <a routerLink="/browse"  class="profile-link">
                                <diV class="avatar-compte">
                                    <img class="img-fluid" src="../../assets/images/Netflix-avatar1.png">
                                </diV>
                                <span >Norman</span>
                            </a>
                        </div>
                    </li>
                    <li class="Profile">
                        <div>
                            <a href="" class="profile-link">
                                <diV class="avatar-compte">
                                    <img src="../../assets/images/Netflix-avatar2.png">
                                </diV>
                                <span>linda the asian</span>
                            </a>
                        </div>
                    </li>
                    <li class="Profile">
                        <div>
                            <a href=""  class="profile-link">
                                <diV class="avatar-compte">
                                    <img src="../../assets/images/Netflix-avatar3.png">
                                </diV>
                                <span>nathan</span>
                            </a>
                        </div>
                    </li>
                    <li class="Profile">
                        <div>
                            <a href=""  class="profile-link">
                                <diV class="avatar-compte">
                                    <img src="../../assets/images/Netflix-avatar4.png">
                                </diV>
                                <span>Jenn</span>
                            </a>
                        </div>
                    </li>
                    <li class="Profile">
                        <div>
                            <a href=""  class="profile-link">
                                <diV class="avatar-compte">
                                    <img src="../../assets/images/Netflix-avatar5.png">
                                </diV>
                                <span>Bensin</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <span class="profile-button">
                <a routerLink="/ManageProfiles" class="profile-btn">Manage Profiles</a>
            </span>
        </div>
    </div>
</section>