<section>
    <div class="container">
        <div class="row">
            <div class="box-Details col-md-12">
                <div class="col-8 col-md-5 col-xl-5">
                    <div class="titre page">
                        <h1>Delete Profile?</h1>
                    </div>
            
                    <div class="col-12 boxDetProfile">
                        <div class="col-3 imageProfile">
                            <img src="../../assets/images/Netflix-avatar1.png">
                            <h4 class="nomProfile">Linda the...</h4>
                        </div>
                        <div class="col-9 descProfil">
                            <h5>This profile's history - including My List, 
                                ratings and activity - will be gone forever,
                                 and you won't be able to access it again.</h5>
                        </div>
                    </div>
            
                    <div class="col-12 btnDeleteProfile">
                        <div class="KeepProfile">
                            <a (click)="TestDeleteProfil()">Keep Profile</a>
                        </div>
                        <div class="DeleteProfile">
                            <a (click)="TesteditProfilTest()" (click)=" TestDeleteProfil()">Delete Profile</a>
                        </div>
                    </div>
            
                </div>
            </div>
        
        </div>

    </div>
</section>