.container{
    background-color: #141414;  
    width: 100%; 
    z-index: 100;
    position: relative;
}
ul{
    text-align: center;
}
.profileText{
    font-size: 52px;
    line-height: 62px;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    font-family: netflixBold;
}
.chooseProfile li{
    display: inline-block;
    text-align: center;
    margin-right:10px ;
    padding: 10px;
}
.profile-link{
    
    height: 35px;
    width: 150px;
    text-decoration: none;
    color: gray;
    font-size: 19px;
    font-family: "Netflix Sans";
}
.profile-link {
    cursor: pointer;
    text-decoration: none;
    color: gray;
    font-size: 19px;
    line-height: 23px;
    font-family: "netflixMedium";
    text-transform: capitalize;
    
}
.avatar-compte img{
    width: 150px;
    border-radius: 5px;
}
.avatar-compte{
    padding-bottom:10px;  
    opacity: 0.5;
}

.avatar-compte img:hover{
    border: 4px solid white;
}


.done-btn{
    color:black;
    text-align: center;
    text-decoration: none;
    padding: 7px 20px ;    
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 2px;
    font-family: netflixBold;
    position: relative;
    top: 30px;
    background: white;
    padding: 10px 20px;
}
.done-btn:hover{
    background-color: red;
    color: white;
}
.list-profiles-container{
    position: fixed;
    bottom: 0;
    top: 25%;
    left: 0;
    right: 0;
    
    text-align: center;
}
.profile-link:hover{
    color: white;
}
/* icon Edit managerProfil*/
.svg-icon{
    position: absolute;
    transform: translate(28px, -50px);
    color: white;
}
.svg-icon svg{    
    width: 2em;
    height: 2em;
    max-width: 70px;
    max-height: 70px;
}

.done-button{    
    padding-bottom: 100px;
}


@media only screen and (max-width: 600px) {
    .avatar-compte img{
        width: 90px;
    }
    .svg-icon[_ngcontent-wrp-c30] {
        position: absolute;
        transform: translate(15px, -36px);
    }
    .list-profiles-container{
        position: absolute;
        top: 112px;
    }
  }