<app-header></app-header>
<section *ngIf="editProfil==false">
    <div class="container" id="container-profil">
        <div class="list-profiles-container">
            <div class="list-profiles">
                <h1 class="profileText">Who's watching?</h1>                
                <ul class="chooseProfile">
                    <li class="Profile">
                        <div>
                            <a (click)="editProfilFn()"  class="profile-link">
                                <diV class="avatar-compte">
                                    <img class="img-fluid" src="../../assets/images/Netflix-avatar1.png">
                                </diV>
                                <div class="svg-icon">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon-edit"><path fill-rule="evenodd" clip-rule="evenodd" d="M22.2071 7.79285L15.2071 0.792847L13.7929 2.20706L20.7929 9.20706L22.2071 7.79285ZM13.2071 3.79285C12.8166 3.40232 12.1834 3.40232 11.7929 3.79285L2.29289 13.2928C2.10536 13.4804 2 13.7347 2 14V20C2 20.5522 2.44772 21 3 21H9C9.26522 21 9.51957 20.8946 9.70711 20.7071L19.2071 11.2071C19.5976 10.8165 19.5976 10.1834 19.2071 9.79285L13.2071 3.79285ZM17.0858 10.5L8.58579 19H4V14.4142L12.5 5.91417L17.0858 10.5Z" fill="currentColor"></path>
                                    </svg>
                                </div>
                                <span >Norman</span>
                            </a>
                        </div>
                    </li>
                    <li class="Profile">
                        <div>
                            <a href="" class="profile-link">
                                <diV class="avatar-compte">
                                    <img src="../../assets/images/Netflix-avatar2.png">
                                </diV>
                                <div class="svg-icon">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon-edit"><path fill-rule="evenodd" clip-rule="evenodd" d="M22.2071 7.79285L15.2071 0.792847L13.7929 2.20706L20.7929 9.20706L22.2071 7.79285ZM13.2071 3.79285C12.8166 3.40232 12.1834 3.40232 11.7929 3.79285L2.29289 13.2928C2.10536 13.4804 2 13.7347 2 14V20C2 20.5522 2.44772 21 3 21H9C9.26522 21 9.51957 20.8946 9.70711 20.7071L19.2071 11.2071C19.5976 10.8165 19.5976 10.1834 19.2071 9.79285L13.2071 3.79285ZM17.0858 10.5L8.58579 19H4V14.4142L12.5 5.91417L17.0858 10.5Z" fill="currentColor"></path>
                                    </svg>
                                </div>
                                <span>linda the asian</span>
                            </a>
                        </div>
                    </li>
                    <li class="Profile">
                        <div>
                            <a href=""  class="profile-link">
                                <diV class="avatar-compte">
                                    <img src="../../assets/images/Netflix-avatar3.png">
                                </diV>
                                <div class="svg-icon">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon-edit"><path fill-rule="evenodd" clip-rule="evenodd" d="M22.2071 7.79285L15.2071 0.792847L13.7929 2.20706L20.7929 9.20706L22.2071 7.79285ZM13.2071 3.79285C12.8166 3.40232 12.1834 3.40232 11.7929 3.79285L2.29289 13.2928C2.10536 13.4804 2 13.7347 2 14V20C2 20.5522 2.44772 21 3 21H9C9.26522 21 9.51957 20.8946 9.70711 20.7071L19.2071 11.2071C19.5976 10.8165 19.5976 10.1834 19.2071 9.79285L13.2071 3.79285ZM17.0858 10.5L8.58579 19H4V14.4142L12.5 5.91417L17.0858 10.5Z" fill="currentColor"></path>
                                    </svg>
                                </div>
                                <span>nathan</span>
                            </a>
                        </div>
                    </li>
                    <li class="Profile">
                        <div>
                            <a href=""  class="profile-link">
                                <diV class="avatar-compte">
                                    <img src="../../assets/images/Netflix-avatar4.png">
                                </diV>
                                <div class="svg-icon">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon-edit"><path fill-rule="evenodd" clip-rule="evenodd" d="M22.2071 7.79285L15.2071 0.792847L13.7929 2.20706L20.7929 9.20706L22.2071 7.79285ZM13.2071 3.79285C12.8166 3.40232 12.1834 3.40232 11.7929 3.79285L2.29289 13.2928C2.10536 13.4804 2 13.7347 2 14V20C2 20.5522 2.44772 21 3 21H9C9.26522 21 9.51957 20.8946 9.70711 20.7071L19.2071 11.2071C19.5976 10.8165 19.5976 10.1834 19.2071 9.79285L13.2071 3.79285ZM17.0858 10.5L8.58579 19H4V14.4142L12.5 5.91417L17.0858 10.5Z" fill="currentColor"></path>
                                    </svg>
                                </div>
                                <span>Jenn</span>
                            </a>
                        </div>
                    </li>
                    <li class="Profile">
                        <div>
                            <a href=""  class="profile-link">
                                <diV class="avatar-compte">
                                    <img class="image-net" src="../../assets/images/Netflix-avatar5.png">
                                </diV>
                                <div class="svg-icon">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon-edit"><path fill-rule="evenodd" clip-rule="evenodd" d="M22.2071 7.79285L15.2071 0.792847L13.7929 2.20706L20.7929 9.20706L22.2071 7.79285ZM13.2071 3.79285C12.8166 3.40232 12.1834 3.40232 11.7929 3.79285L2.29289 13.2928C2.10536 13.4804 2 13.7347 2 14V20C2 20.5522 2.44772 21 3 21H9C9.26522 21 9.51957 20.8946 9.70711 20.7071L19.2071 11.2071C19.5976 10.8165 19.5976 10.1834 19.2071 9.79285L13.2071 3.79285ZM17.0858 10.5L8.58579 19H4V14.4142L12.5 5.91417L17.0858 10.5Z" fill="currentColor"></path>
                                    </svg>
                                </div>
                                <span>Bensin</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <span class="done-button">
                <a routerLink="/browser" class="done-btn">Done</a>
            </span>
        </div>
    </div>
</section>
<app-edit-profil [TesteditProfil]="editProfil" (childTestEdit)="editProfil=$event" *ngIf="editProfil">

</app-edit-profil>

