.headerBrowser{
    z-index: 2;
}


.carrouselcontainer{ 
  z-index: 1;
  background-color: #141414;
  position: relative;
}
.owl-item{ 
  max-width: 205px !important;
  max-height: 110px !important;
}
.CarouselImg{ 
    max-width: 205px;
    max-height: 110px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer ;
}
.imgType{
  max-height: 160px;
  padding-top: 30px;
  z-index: 200;
}

.CarouselImg:hover{ 
    border:1px solid white;
}
.btn-prev-next{
    width: 57px;
    position: relative;
    top: -150px;
    z-index: 2;
  }

  #btn-nextId{
    float: right;    
    position: relative;
    top: -300px;
  }
  #MyList{
    background-color: #141414;
  }
  .btn-prev{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 110px;
    width: 57px;
    left: -2px;
    position: relative;
    top: 40px;
    background: linear-gradient(90deg,#141414 0,hsla(0,0%,8%,.4));
    border: none;
    border-radius: 0px 5px 5px 0px;
    text-decoration: none;
  }
  .btn-next{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    top: 79px;
    height: 110px;
    width: 69px;
    color: #fff;
    background: hsla(0,0%,8%,.5);
    border: none;
    border-radius: 5px 0px 0px 5px;
    text-decoration: none;
  }

  .btn-prev:hover{
    color: white;
  }    

  .typeTitle h2{
    font-family: netflixMedium;
    color: white;
    z-index: 10;    
    font-size: 1.4vw;
    line-height: 1.25vw;
    left: 3%;
    width: 97%;
  }    
  .testIcon{
  display: flex;
    justify-content: flex-end;
}
#testIcon{
    transform: rotate(180deg);
    position: relative;
    right: 15px;
  }

  @media only screen and (max-width: 600px) {
    #MyList{
      height: 130px;

    }
    .carrouselcontainer{
      margin-top: -55px;
      padding-top: 65px;
    }
  }
