<app-header-browse class="headerBrowser"></app-header-browse>
<app-film-wrapper class="filmWrapper"></app-film-wrapper>
<div class="container" id="MyList">
    <div class="imgType" (mouseover)="HoverType=true" (mouseout)="HoverType=false">
        <div class="typeTitle">
            <h2>The Classics</h2>
        </div>
        <owl-carousel-o [options]="customOptions" #owlCar>
        <ng-container *ngFor="let slide of myList"><div class="typeTitle">
            <h2>The Classics</h2>
        </div>
          <ng-template carouselSlide [id]= "slide.image">
            <img class="CarouselImg" [src]="slide.image" [alt]="slide.id" [title]="slide.image">
          </ng-template>
        </ng-container>
        </owl-carousel-o>
    </div>
</div>

<div class="carrouselcontainer">
    <div class="container">
            <div class="imgType" (mouseover)="HoverType=true" (mouseout)="HoverType=false">
                <div class="typeTitle">
                    <h2>The Classics</h2>
                </div>
                <owl-carousel-o [options]="customOptions" #owlCar>
                <ng-container *ngFor="let slide of data"><div class="typeTitle">
                    <h2>The Classics   </h2>
                </div>
                  <ng-template carouselSlide [id]= "slide.image">
                    <img class="CarouselImg" [src]="slide.image" [alt]="slide.id" [title]="slide.image">
                  </ng-template>
                </ng-container>
                </owl-carousel-o>
                <div class="btn-prev-next" >
                <a class="btn-prev" (click)="owlCar.prev()" (mouseover)="HoverBtn=true" (mouseout)="HoverBtn=false">
                    <div class="testIcon" *ngIf="HoverType==true && HoverBtn==false ">
                        <img src="../../assets/images/iconarrow1.png">
                    </div>
                    <div class="testIcon" *ngIf="HoverBtn==true" >
                        <img src="../../assets/images/iconarrow2.png" style="width: 90%;">
                    </div>
                </a>
                </div>
                <div class="btn-prev-next" id="btn-nextId">
                <a class="btn-next" (click)="owlCar.next()" (mouseover)="HoverBtn=true" (mouseout)="HoverBtn=false">
                    <div id="testIcon" class="testIcon" *ngIf="HoverType==true && HoverBtn==false">
                        <img src="../../assets/images/iconarrow1.png">
                    </div>
                    <div id="testIcon" class="testIcon" *ngIf="HoverBtn==true" >
                        <img src="../../assets/images/iconarrow2.png" style="width: 90%;">
                    </div>
                </a>
                </div>
            </div>
    </div>
</div>
<app-footer></app-footer>