<app-header></app-header>
<div class="container-edit" *ngIf="!EditImageProfil">
        <div class="col-11 col-lg-4 col-md-6">
            <div class="col-md-12 editText">
                <h1>Edit Profile</h1>
            </div>
            <div class="col-md-12 profileData">
                <div class="col-3">
                    <div class="col-12 profileAvatar">
                        <img src="{{ProfilsData.image}}">
                    </div>
                    <div class="col-12 svg-icon">
                        <a (click)="EditImageProfilFn()" class="updateImage">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon-edit"><path fill-rule="evenodd" clip-rule="evenodd" d="M22.2071 7.79285L15.2071 0.792847L13.7929 2.20706L20.7929 9.20706L22.2071 7.79285ZM13.2071 3.79285C12.8166 3.40232 12.1834 3.40232 11.7929 3.79285L2.29289 13.2928C2.10536 13.4804 2 13.7347 2 14V20C2 20.5522 2.44772 21 3 21H9C9.26522 21 9.51957 20.8946 9.70711 20.7071L19.2071 11.2071C19.5976 10.8165 19.5976 10.1834 19.2071 9.79285L13.2071 3.79285ZM17.0858 10.5L8.58579 19H4V14.4142L12.5 5.91417L17.0858 10.5Z" fill="currentColor"></path>
                            </svg>
                        </a>
                    </div>
                </div> 
                <div class="col-md-9 profileEdit">
                    <div class="col-12 textEdlit">
                        <input type="text" autofocus  class="col-12 form-controls" placeholder="Name" value="{{ProfilsData.nom | titlecase}}">
                    </div>
                    <div class="col-12 langageEdlit">
                        <span>Language:</span>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="col-12 dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="col-2 dropdown-item" href="#">Action</a>
                              <a class="col-2 dropdown-item" href="#">Another action</a>
                              <a class="col-2 dropdown-item" href="#">Something else here</a>
                            </div>
                          </div>
                    </div>

                    <div class="maturitySetting">
                        <h5>Maturity Settings:</h5>
                        
                        <div class="boxMaturity">
                            <span>All Maturity Ratings</span>
                        </div>
                        <div class="maturityText">
                            <p>Show titles of all maturity ratings for this profile.</p>
                        </div>
                        <div class="EditMaturityBtn">
                            <a routerLink="/editProfil" class="editBtn">Edit</a>
                        </div>
                    </div>

                    <div class="autoplay">
                        <div class="col-md-12 textEdlit">
                            <h5>Autoplay controls</h5>
                        </div>

                        <div class="autoplay-option">
                            <input class="col-1 form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="col-11 form-check-label" for="flexCheckDefault">
                                Autoplay next episode in a series on all devices.
                            </label>
                        </div>

                        <div class="autoplay-option">
                            <input class="col-1 form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="col-11 form-check-label" for="flexCheckDefault">
                                Autoplay previews while browsing on all devices.
                            </label>
                        </div>

                    </div>

                </div>             
            </div>
            <div class="col-12 btnEditPage d-flex">
                <div class="btnSave">
                    <button routerLink="/browser" class="saveBtn">Save</button>

                </div>
                <div class="btnCancel">
                    <button (click)="TesteditProfilTest()" routerLink="/ManageProfiles" class="cancelBtn">Cancel</button>
                </div>
                <div class="btnCancel">
                    <button (click)="TestDeleteProfil()" class="cancelBtn">Delete Profile</button>
                </div>

            </div>
        </div>

</div>
<app-manage (EditImageProfil)="EditImageProfil=$event" *ngIf="EditImageProfil" [ProfilsData]="ProfilsData"></app-manage>

<script>
    $(function () {
   $('[autofocus]').focus()
});
</script>