.carrouselcontainer{ 
    background-color: #141414;
    width: 100%;
    padding: 250px 0px 150px 0px;
}
.imgType{ 
    height: 220px;
}
.CarouselImg{ 
    max-width: 150px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer ;
}
.CarouselImg:hover{ 
    border:1px solid white;
}
.btn-prev-next{
    width: 57px;
    position: relative;
    top: -150px;
    z-index: 100;
  }

  #btn-nextId{
    position: relative;
    top: -300px;
    right: -90%;
    display: flex;
    justify-content: end;
    width: 10%;
  }

  .btn-prev{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 150px;
    width: 57px;
    left: -2px;
    background: linear-gradient(90deg,#141414 0,hsla(0,0%,8%,.4));
    border: none;
    border-radius: 0px 5px 5px 0px;
    text-decoration: none;
  }
  .btn-next{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 0;
    height: 150px;
    width: 65px;
    color: #fff;
    background: linear-gradient(270deg,#141414 0,hsla(0,0%,8%,.4));
    border: none;
    border-radius: 5px 0px 0px 5px;
    text-decoration: none;
  }

  .btn-prev:hover{
    color: white;
  }    

  .typeTitle h2{
    font-family: netflixMedium;
    color: white;
  }     
  .testIcon{
  display: flex;
    justify-content: flex-end;
}
#testIcon{
    transform: rotate(180deg);
    position: relative;
    right: 15px;
  }

  header{
    background: hsla(0,0%,8%,.9);
    position: fixed;
    width: 100%;
    z-index: 200;
    padding: 20px 0px 10px 0px;    
    position: fixed;
    top: 80px;
  }
  .navbarTop
  {
    display: flex;
    align-items: center;
  }
  .NavbarRight{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .TextNavbarLeft{    
    color: white;
    font-family: 'netflixBold';
  }

  .NavbarRight{
    display: flex;
    align-items: center;
    float: right;
  }
  .TextNavbarRight{
    color: white;
    text-align: end;
    padding-right: 20px;
}
.imgNavbar img{
  border-radius: 5px;
  fill: white;
}
.iconEditProfil svg{
  width: 40px;
  height: 40px;
  color: white;
  stroke: white;
}
@media only screen and (max-width: 600px) {
  .iconEditProfil {
      padding-right: 30px;
  }
  h2{
    font-size: 15px;
  }
  h3{
    font-size: 13px;
  }
  .iconEditProfil a svg{
    width: 25px;
    height: 25px;
  }
}

.imgTypePath{
  padding: 20px 0px;
  max-width: 300px;
}