<app-header></app-header>
<header (scroll)="onscroll()">
    <div class="container">
        <div class="row">
            <nav class="col-12 navbarTop" >
                <div class="col-7 NavbarRight">
                    <div class="iconEditProfil col-1">
                        <a (click)="EditImageProfilFn()" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" stroke="" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                              </svg>
                        </a>                    
                    </div>
                    
                    <div class="col-9 TextNavbarLeft">
                        <h2>Edit Profile</h2>
                        <h3>Choose a profile icon.</h3>
                    </div>
                </div>
                <div class="col-5 NavbarRight">
                    <div class="col-xs-6 col-md-10 TextNavbarRight">
                        <h3>{{ProfilsData.nom | titlecase}}</h3>
                    </div>
                    <div class="col-xs-6 col-md-2 imgNavbar">
                        <img src="{{ProfilsData.image}}"style="max-width:89px">
                    </div>
                    
                </div>

            </nav>

        </div>

    </div>
</header>
<div class="carrouselcontainer">
    
    <div class="container">
        <div class="boxImage" *ngFor="let slides of profileImage; let i = index;">
            <div class="imgType" (mouseover)="HoverType=true" (mouseout)="HoverType=false">
                <div class="typeTitle">
                    <h2 *ngIf="slides.TypePath=='text'">{{slides.type}}</h2>
                    <img class="imgTypePath" *ngIf="slides.TypePath!='text'" src="{{slides.type}}">
                </div>
                <owl-carousel-o [options]="customOptions" #owlCar>
                <ng-container *ngFor="let slide of profileImage[i].images;">
                    <div class="typeTitle">
                    <h2>The Classics   </h2>
                </div>
                  <ng-template carouselSlide [id]= "slide.image">
                    <img class="CarouselImg" [src]="slide.image" [alt]="slide.idImage" [title]="slide.idImage">
                  </ng-template>
                </ng-container>
                </owl-carousel-o>
                <div class="btn-prev-next" >
                <a class="btn-prev" (click)="owlCar.prev()" (mouseover)="HoverBtn=true" (mouseout)="HoverBtn=false">
                    <div class="testIcon" *ngIf="HoverType==true && HoverBtn==false ">
                        <img src="assets/images/iconarrow1.png">
                    </div>
                    <div class="testIcon" *ngIf="HoverBtn==true" >
                        <img src="assets/images/iconarrow2.png" style="width: 90%;">
                    </div>
                </a>
                </div>
                <div class="btn-prev-next" id="btn-nextId">
                <a class="btn-next" (click)="owlCar.next()" (mouseover)="HoverBtn=true" (mouseout)="HoverBtn=false">
                    <div id="testIcon" class="testIcon" *ngIf="HoverType==true && HoverBtn==false">
                        <img src="assets/images/iconarrow1.png">
                    </div>
                    <div id="testIcon" class="testIcon" *ngIf="HoverBtn==true" >
                        <img src="assets/images/iconarrow2.png" style="width: 90%;">
                    </div>
                </a>
                </div>
            </div>
        </div>                            
    </div>
</div>