<div class="FilmWrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 textAccueil">
                <h5>TV Shows & Movies from the U.S.</h5>
            </div>
            <div class="col-12 d-flex" >
                <div class="col-6 BoxBgFilm">
                    <img  src="{{data[0].image}}">
                </div>
                <div class="col-3 BoxBgFilm">
                    <img src="{{data[1].image}}">

                </div>
                <div class="col-3 BoxBgFilm">
                    <img src="{{data[2].image}}">

                </div>
            </div>

            <div class="col-12 d-flex">
                <div class="col-3 BoxBgFilm">
                    <img  src="{{data[3].image}}">
                </div>
                <div class="col-3 BoxBgFilm">
                    <img src="{{data[4].image}}">
                </div>
                <div class="col-3 BoxBgFilm">
                    <img  src="{{data[5].image}}">
                </div>
                <div class="col-3 BoxBgFilm">
                    <img src="{{data[6].image}}">
                </div>
            
            </div>
    
        </div>

    </div>
</div>